<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
</head>

<body>
    <p>This project is made possible with support of resources made by torresflo on GitHub, link:</p>
    <a href="https://github.com/torresflo/Pokedex-AI?tab=readme-ov-file#usage">Pokedex-AI project by torresflo on GitHub</a>
    <br><br>
    <form method='post' enctype="multipart/form-data">
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</body>

</html>